body{ padding-top: 51px; font-family: Roboto, sans-serif, arial !important; }

.standhouders-table tr.unseen-row {
    cursor: pointer;
}

.standhouders-table tr.unseen-row:nth-of-type(odd)
{
    background-color: rgba(255, 0, 0, 0.43);
}

.standhouders-table tr.unseen-row:nth-of-type(even)
{
    background-color: rgba(255, 0, 0, 0.18);
}

.standhouders-table tr.selected-row:nth-of-type(odd)
{
    background-color: rgba(77, 255, 0, 0.43);
}

.standhouders-table tr.selected-row:nth-of-type(even)
{
    background-color: rgba(77, 255, 0, 0.18);
}

.adjust { width: 20px; }

.overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.standhouder-wijzig {
    display: none;
    position: absolute;
    width: 690px;
    padding: 20px;
    height: 60%;
    overflow: scroll;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #BEBEBE;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.close-standhouder-wijzig { position: absolute; right: 10px; top: 10px; width: 40px; cursor: pointer; }

.standhouder-wijzig label { width: 300px; display:inline-block; }
.standhouder-wijzig label span { width: 49%; display:inline-block; }
.standhouder-wijzig label input[type=text] { margin-left: 5px; width: 40%; }
.standhouder-wijzig label input[type=checkbox] { margin-right: 5px; width: 40px; }
.standhouder-wijzig label input[readonly] { background: #BEBEBE; }

.send-single-invoice { position: absolute; left: 490px; }
.form-title { font-size: 20px; font-weight: 600; margin-bottom: 10px;}

.popup {
    display: none;
    position: absolute;
    background: #FFF;
    width: 450px;
    max-width: 100%;
    height: auto;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #BEBEBE;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.popup-title { font-size: 25px; font-weight: 600; color: red; margin-bottom: 15px;}
.popup-text { font-size: 15px; font-weight: 500; margin-bottom: 20px; }

.token { display: none; }
